* {
    box-sizing: border-box;
}

body {
    width: 99%;
    height: 100%;
    
    font-family: 'Open Sans', sans-serif;
    background: #0c5237;
}

button {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    font-size: 15px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.55);
}

button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

input {
    color: rgba(255, 255, 255, 0.55);
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    margin: 2px;
}

.task .start_time {
    grid-area: start_time;
}

.task .stop_time {
    grid-area: stop_time;
}

.task .comment {
    grid-area: comment;
}

.task {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    margin: 2px;
    display: grid;
    grid-template-areas:
        'comment comment'
        'start_time stop_time';
}

.time_progress {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin: 2px;
    display: grid;
    grid-template-columns: auto auto;
}

.week {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}